<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}"
    />
  </head>
  <body>
    <h1 style="color: #002b5c; text-align: center" class="mt-5 mb-5">
      Parking App
    </h1>
    <div
      style="
        width: 500px;
        margin: auto;
        text-align: center;
        border: 2px solid black;
        border-radius: 50px;
        padding: 35px 25px;
      "
    >
      <h3>Admin Login</h3>
      <form action="" method="post">
        <div class="row mb-4 mt-4">
          <label for="input1" class="fw-semibold col-sm-3 col-form-label"
            >Username</label
          >
          <div class="col-sm-9">
            <input
              required
              name="username"
              type="text"
              class="form-control"
              id="input1"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="input2" class="fw-semibold col-sm-3 col-form-label"
            >Password</label
          >
          <div class="col-sm-9">
            <input
              required
              name="password"
              type="password"
              class="form-control"
              id="input2"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Sign in</button>
        <p>User Login <a href="/user/login">Click Here</a></p>
      </form>
    </div>
    {% if error %}
    <script>
      alert("Invalid Credentials");
    </script>
    {% endif %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
