<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Successful</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}"
    />
  </head>
  <body>
    <div
      class="m-auto mt-5"
      style="
        width: 500px;
        text-align: center;
        border: solid 2px black;
        border-radius: 20px;
        padding: 40px;
      "
    >
      <h2>Booking Successful</h2>
      <h5 class="mt-3"><a href="/user/profile">Back</a></h5>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
