<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}"
    />
  </head>
  <body>
    <div
      style="
        width: 500px;
        margin: auto;
        text-align: center;
        border: 2px solid black;
        border-radius: 50px;
        padding: 35px 25px;
        margin-top: 125px;
      "
    >
      <h3>Change Password</h3>
      <form action="/user/log-out" method="post">
        <div class="row mb-4 mt-4">
          <label for="input1" class="fw-semibold col-sm-3 col-form-label"
            >Password</label
          >
          <div class="col-sm-9">
            <input
              required
              name="password"
              type="password"
              class="form-control"
              id="input1"
            />
          </div>
        </div>
        <div class="row mb-4">
          <label for="input2" class="fw-semibold col-sm-3 col-form-label"
            >Confirm Password</label
          >
          <div class="col-sm-9">
            <input
              required
              name="confirm-password"
              type="password"
              class="form-control"
              id="input2"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-success mb-3 me-5 mt-3">
          Change
        </button>
        <button type="button" class="btn btn-danger mb-3 mt-3">
          <a href="/user/profile" style="text-decoration: none; color: white"
            >Cancel</a
          >
        </button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
