<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}"
    />
    <style>
      th,
      td,
      table {
        border: 2px solid gray;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand fw-semibold"
      style="background-color: #55fa86"
    >
      <div class="container-fluid">
        <a
          class="navbar-brand"
          href="/user/profile"
          style="margin-right: 50px; color: #014b17"
          >Welcome, {{user_data.name}}</a
        >
        <div class="navbar-collapse">
          <ul class="navbar-nav" style="margin: auto">
            <li class="nav-item me-5">
              <a
                class="nav-link bg-light"
                aria-current="page"
                style="
                  border-radius: 15px;
                  padding-right: 15px;
                  padding-left: 15px;
                "
                href="/user/profile"
                >Home</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="/user/book-spot">Book Spot</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="/user/edit-profile">Edit Profile</a>
            </li>
          </ul>
        </div>
        <a
          style="color: red; font-weight: bold; text-decoration: none"
          href="/user/log-out"
          >Log Out</a
        >
      </div>
    </nav>
    <div
      style="
        display: flex;
        border: solid 1px;
        border-radius: 30px;
        padding: 10px;
        margin: 40px 20px 20px 20px;
      "
    >
      <h4 style="margin: auto">Recent Parking History</h4>
    </div>
    {% if reservations %}
    <table
      style="
        width: calc(100% - 100px);
        margin: 0px 50px 50px 50px;
        text-align: center;
      "
    >
      <thead>
        <tr style="font-size: large; background-color: #aed8f6">
          <th>ID</th>
          <th>Location</th>
          <th>Vehicle No.</th>
          <th>Parking Timestamp</th>
          <th>Leaving Timestamp</th>
          <th>Total Cost</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for reservation in reservations %}
        <tr>
          <td>{{reservation.id}}</td>
          <td>{{location[reservation.id]}}</td>
          <td>{{reservation.vehicle_no}}</td>
          <td>{{reservation.parking_timestamp}}</td>
          {%if reservation.leaving_timestamp==None%}
          <td>-</td>
          <td>-</td>
          <td>
            <form action="/user/release-spot" method="post">
              <button
                class="btn btn-danger"
                name="id"
                value="{{reservation.id}}"
              >
                Release
              </button>
            </form>
          </td>
          {%else%}
          <td>{{reservation.leaving_timestamp}}</td>
          <td>Rs. {{reservation.parking_cost}}</td>
          <td><a class="btn btn-success">Parked Out</a></td>
          {%endif%}
        </tr>
        {%endfor%}
      </tbody>
    </table>
    {%else%}
    <h5>No reservations found</h5>
    {% endif %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
